@media  (max-width:820px){
    body{
    
        margin: 10px;
            
    }
    .cabeçalho{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .imagem_logo{
        margin: 10px;
        width: 60px;
        height: 60px;
    }
    ul{
        display: flex;
        gap: 1px;
        padding: 0;
    }
   
    h1{
        font-size: 30px ;
        
    }
    h2{
        font-size: 16px ;
    }
    p{
        font-size: 14px;
        margin: 30px 0 50px 0;
        
    }
    .botao_compra{
        padding: 8px;
        font-size: 14px;     
    }
    li{
        padding: 0;
        font-size: 20px;
        margin: 5px;    
    }
    
    main{
        text-align:left;
        margin: 0 20px 30px 20px;
        width: 80%;
        
    }
}





   
